<h2>Welcome to the Metaverse Navigator</h2>

<br>

<h3>
    Favorites
</h3>
<ul>
    <li><a>Confidant Guide</a></li>
    <li><a>Compendium</a></li>
</ul>

<h3>Recently Viewed Guides</h3>
<ul>
    
</ul>